<header class="header container">
  <div class="header__logo">
    <span>Image Tools</span>
    <a href="/">
      <img src="/images/logo-verndale.png" alt="Verndale" />
    </a>
  </div>
</header>

<section role="main">
  <div class="intro">
    <div class="container">
      <h1 class="intro__title">Get random images that fit your designs</h1>
      <p class="intro__description">Call our URL adding the query of interest and pass the dessired dimensions (width & height) as parameters:</p>
      <pre class="intro__url"><a href="/random/pizza?w=200&h=300" target="_blank">/random/pizza?w=200&h=300</a></pre>
    </div>
  </div>
  <div class="generic-content">
    <div class="container">
      <figure class="picture">
        <picture>
          <source
            srcset="/id/Wz3u9_GtkWc?w=840&h=500&seed=0&format=webp"
            type="image/webp"
          />
          <img
            src="/id/Wz3u9_GtkWc?w=840&h=500&seed=0"
            alt="Image of a pizza"
            width="840"
            height="500"
          />
        </picture>
          <figcaption class="picture__caption">Image by
            <a href="https://unsplash.com/@getuliodt">Getúlio Moraes</a></figcaption>
      </figure>
      <div class="generic-content__description">
        <p>Get random images provided by
          <a href="https://unsplash.com/">Unplash</a>
          to help you build your templates. This tool provides three endpoints
          to get a random image based on a query, or find one by it's Unplash
          id.</p>
      </div>
    </div>
  </div>
  <div class="scurve container">
    <div class="scurve-card">
      <div class="scurve-card__content">
        <h2 class="scurve-card__title">Basic usage</h2>
        <p class="scurve-card__description">To get an image based on a desired
          query, call the
          <em>/random</em>
          endpont appended by the query. If you want to get the image in an
          specific size, pass the width and the height as parameters.</p>
        <pre class="scurve-card__url"><a
            href="/random/pizza?w=500&h=300"
            target="_blank"
          >/random/pizza?w=500&h=300</a></pre>
      </div>
      <figure class="picture">
        <picture>
          <source
            srcset="/random/pizza?w=500&h=300&seed=1&format=webp"
            type="image/webp"
          />
          <img
            src="/random/pizza?w=500&h=300&seed=1"
            alt="Image of a pizza"
            loading="lazy"
            width="500px"
            height="300px"
          />
        </picture>
          <figcaption class="picture__caption">Image by
            <a href="https://unsplash.com/@shouravsheikh13">Shourav Sheikh</a></figcaption>
      </figure>
    </div>

    <div class="scurve-card">
      <div class="scurve-card__content">
        <h2 class="scurve-card__title">Seed</h2>
        <p class="scurve-card__description">Provide the seed parameter to get
          always the same image. This can help you keeping consistency when
          grabbing different sizes depending on media queries.</p>
        <pre class="scurve-card__url"><a
            href="/random/pizza?seed=4"
            target="_blank"
          >/random/pizza?seed=4</a></pre>
      </div>
      <figure class="picture">
        <picture>
          <source
            srcset="/random/pizza?w=500&h=300&seed=4&format=webp"
            type="image/webp"
          />
          <img
            src="/random/pizza?w=500&h=300&seed=4"
            alt="Image of a pizza"
            loading="lazy"
            width="500px"
            height="300px"
          />
        </picture>
          <figcaption class="picture__caption">Image by
            <a href="https://unsplash.com/@v_uk_europe">Vitalii Chernopyskyi</a></figcaption>
      </figure>
    </div>

    <div class="scurve-card">
      <div class="scurve-card__content">
        <h2 class="scurve-card__title">Squared image</h2>
        <p class="scurve-card__description">To get an squared image you can just
          pass one of the values for width or height.</p>
        <pre class="scurve-card__url"><a
            href="/random/pizza?w=500"
            target="_blank"
          >/random/pizza?w=500</a></pre>
        <pre class="scurve-card__url"><a
            href="/random/pizza?h=500"
            target="_blank"
          >/random/pizza?h=500</a></pre>
      </div>
      <figure class="picture picture--squared">
        <picture>
          <source
            srcset="/random/pizza?w=500&seed=2&format=webp"
            type="image/webp"
          />
          <img
            src="/random/pizza?w=500&seed=2"
            alt="Image of a pizza"
            loading="lazy"
            width="500px"
            height="500px"
          />
        </picture>
          <figcaption class="picture__caption">Image by
            <a href="https://unsplash.com/@karthikgarikapati">Karthik Garikapati</a></figcaption>
      </figure>
    </div>

    <div class="scurve-card">
      <div class="scurve-card__content">
        <h2 class="scurve-card__title">Image Formats</h2>
        <p class="scurve-card__description">This api allows you to specify the
          image format you want to be returned. Suported values are
          <em>png</em><em>jpg</em><em>jpeg</em>
          and
          <em>webp</em></p>
        <pre class="scurve-card__url"><a
            href="/random/pizza?format=webp"
            target="_blank"
          >/random/pizza?format=webp</a></pre>
      </div>
      <figure class="picture">
        <picture>
          <source
            srcset="/random/pizza?w=500&h=300&seed=14&format=webp"
            type="image/webp"
          />
          <img
            src="/random/pizza?w=500&h=300&seed=14"
            alt="Image of a pizza"
            loading="lazy"
            width="500px"
            height="300px"
          />
        </picture>
          <figcaption class="picture__caption">Image by
            <a href="https://unsplash.com/@phototastyfood">David Fedulov</a></figcaption>
      </figure>
    </div>

    <div class="scurve-card">
      <div class="scurve-card__content">
        <h2 class="scurve-card__title">Get images by it's
          <a href="https://unsplash.com/">unsplash</a>
          id</h2>
        <p class="scurve-card__description">If you want to get an specific image
          from Unsplash, call the
          <em>/id</em>
          endpoint appended by the image's Unsplash id. This endpoint support
          the same parameters as the previous one.</p>
        <pre class="scurve-card__url"><a
            href="/id/52jG7-FN22Y?w=500&h=300"
            target="_blank"
          >/id/52jG7-FN22Y?w=500&h=300</a></pre>
      </div>
      <figure class="picture">
        <picture>
          <source
            srcset="/id/52jG7-FN22Y?w=500&h=300&format=webp"
            type="image/webp"
          />
          <img
            src="/id/52jG7-FN22Y?w=500&h=300"
            alt="Image of a pizza"
            loading="lazy"
            width="500px"
            height="300px"
          />
        </picture>
          <figcaption class="picture__caption">Image by
            <a href="https://unsplash.com/@alexagorn">Alexandra Gorn</a></figcaption>
      </figure>
    </div>

    <div class="scurve-card">
      <div class="scurve-card__content">
        <h2 class="scurve-card__title">The picture Element</h2>
        <p class="scurve-card__description">One of the uses of this api is to
          get an image in different sizes depending the size of the screen. You
          can also get images in different formats and provide fallback options
          for browsers that don't support them.</p>
      </div>
      <div class="scurve-card__code">
        <pre>
          <code class="html">
  &lt;picture&gt;
    &lt;source media="(max-width: 740px)" srcset="{{url}}/random/pizza?w=740&h=444"&gt;
    &lt;source media="(max-width: 980px)" srcset="{{url}}/random/pizza?w=980&h=588"&gt;
    &lt;source media="(max-width: 1300px)" srcset="{{url}}/random/pizza?w=1300&h=780"&gt;
    &lt;img src="{{url}}/random/pizza?w=1400&h=840" alt="Image description"&gt;
  &lt;/picture&gt;
          </code>
        </pre>
        <pre>
          <code class="html">
  &lt;picture&gt;
    &lt;source srcset="{{url}}/random/pizza?format=webp" type="image/webp"&gt;
    &lt;img src="{{url}}/random/pizza?format=jpeg" alt="Image of a pizza"&gt;
  &lt;/picture&gt;
          </code>
        </pre>
      </div>
    </div>

    <div class="scurve-card">
      <div class="scurve-card__content">
        <h2 class="scurve-card__title">Get image info</h2>
        <p class="scurve-card__description">If you want to get the information
          for an specific image, call the
          <em>/info</em>
          endpoint appended by the image's Unsplash id.</p>
        <pre class="scurve-card__url"><a
            href="/info/52jG7-FN22Y"
            target="_blank"
          >/info/52jG7-FN22Y</a></pre>
      </div>
      <div class="scurve-card__code">
        <pre>
          <code class="json">
  {
    "id": "52jG7-FN22Y",
    "width": 6000,
    "height": 4000,
    "description": "pizza",
    "links": "https://unsplash.com/photos/52jG7-FN22Y",
    "author": "Alexandra Gorn"
  }
          </code>
        </pre>
      </div>
    </div>
  </div>
</section>

<footer class="footer">
  <div class="container">
    <p class="footer__copyright">
      Created by
      <a href="https://www.linkedin.com/in/david-bergmann/">David Bergmann</a>
      @ <a href="https://www.verndale.com/">Verndale</a>
    </p>
    <p class="footer__copyright">
      Images provided by
      <a href="https://unsplash.com/">Unplash</a>
    </p>
  </div>
</footer>
